Repository defenseunicorns/pepr-excellent-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.mjs --fix

chore: add eslint and client node to deps
  package-lock.json
  package.json
Due: prettier --write

chore: update warning output format
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: remove unused variables instead of prefixing with underscore
  _helpers/dev/cli.mts
  _helpers/src/TestRunCfg.unit.test.ts
  _helpers/src/deps/reader.unit.test.ts
  _helpers/src/pepr.unit.test.ts
  _helpers/src/resource.unit.test.ts
  _helpers/src/time.unit.test.ts
  eslint.config.mjs
  hello-pepr-alias/capabilities/alias.ts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
  hello-pepr-ns-wrong/capabilities/namespace.e2e.test.ts
  hello-pepr-regex-ns-wrong/capabilities/namespace.e2e.test.ts
  hello-pepr-store-redact-logs/capabilities/store.e2e.test.ts
  hello-pepr-store-resources/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix 105 ESLint warnings across codebase (#461)
  _helpers/dev/cli.mts
  _helpers/src/Cmd.ts
  _helpers/src/TestRunCfg.unit.test.ts
  _helpers/src/cluster.ts
  _helpers/src/deps/differ.ts
  _helpers/src/deps/reader.unit.test.ts
  _helpers/src/deps/versions.e2e.test.ts
  _helpers/src/heredoc.ts
  _helpers/src/pepr.ts
  _helpers/src/pepr.unit.test.ts
  _helpers/src/resource.unit.test.ts
  _helpers/src/time.unit.test.ts
  eslint.config.mjs
  hello-pepr-config-ignored-controller-ns/capabilities/ignored-ns.e2e.test.ts
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
  hello-pepr-generic-kind/capabilities/genericKind.e2e.test.ts
  hello-pepr-hooks/capabilities/hooks.e2e.test.ts
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
  hello-pepr-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-ns-wrong/capabilities/namespace.e2e.test.ts
  hello-pepr-regex-name/capabilities/regex-name.e2e.test.ts
  hello-pepr-regex-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-regex-ns-wrong/capabilities/namespace.e2e.test.ts
  hello-pepr-store-redact-logs/capabilities/store.e2e.test.ts
  hello-pepr-store-resources/capabilities/store.e2e.test.ts
  hello-pepr-store/capabilities/store.e2e.test.ts
  hello-pepr-validate/capabilities/validate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: update warning output format
  hello-pepr-warnings/capabilities/warnings.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: increased timeout for deletion e2e
  .github/workflows/e2e.yaml
  hello-pepr-deletion-timestamp/capabilities/deletion.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix export for ts error
  _helpers/package.json
Due: prettier --write

chore: upgraded to node v24
  .github/workflows/e2e.yaml
Due: none

chore: upgraded to node v24 (#482)
  .github/workflows/e2e.yaml
Due: none

chore: update import path for ci failure
  hello-pepr-config-ignored-ns/capabilities/ignored-ns.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: operation import from kfc
  hello-pepr-deletion-timestamp/capabilities/deletion.e2e.test.ts
  hello-pepr-deletion-timestamp/capabilities/deletion.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: migration test
  hello-pepr-eslint-v10-migration/capabilities/eslint-migration.ts
  hello-pepr-eslint-v10-migration/eslint.config.mjs
  hello-pepr-eslint-v10-migration/package.json
  hello-pepr-eslint-v10-migration/pepr.ts
  hello-pepr-eslint-v10-migration/test-format-migration.mjs
  hello-pepr-eslint-v10-migration/tsconfig.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: update comments
  hello-pepr-eslint-v10-migration/eslint.config.mjs
Due: none

fix(_helpers): rewrite workspace pepr pins to file: spec before install
  _helpers/dev/cli.mts
  _helpers/src/peprPins.ts
  _helpers/src/peprPins.unit.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(_helpers): restore workspace pepr pins when preAction install fails
  _helpers/dev/cli.mts
Due: none

fix(_helpers): rewrite workspace pepr pins to file: spec before install (#491)
  _helpers/dev/cli.mts
  _helpers/src/peprPins.ts
  _helpers/src/peprPins.unit.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: revert node and ts
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  package.json
  pepr-operator/package.json
Due: prettier --write

chore: revert for pass pepr ci
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: revert find up
  _helpers/package.json
  package-lock.json
Due: prettier --write

chore: regen package lock
  package-lock.json
Due: prettier --write

chore: revert to pass pepr ci (#495)
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: major version bump excluded from group prs
  .github/dependabot.yml
Due: none

chore: major version bump excluded from group prs (#497)
  .github/dependabot.yml
Due: none

chore: added new dependabot groups
  .github/dependabot.yml
Due: none

chore: added new dependabot groups (#520)
  .github/dependabot.yml
Due: none

chore: add pepr dep
  _helpers/package.json
  package-lock.json
Due: prettier --write

chore: update helpers e2e path and flags
  _helpers/dev/cli.mts
Due: none

chore: remove flags
  _helpers/dev/cli.mts
Due: none

chore: update helpers e2e path and flags (#525)
  _helpers/dev/cli.mts
Due: none

Remove package.*.json files that cause CI failures due to dependabot update rules
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-custom-rbac/fixtures/rbac.custom.json
  hello-pepr-custom-rbac/package.custom.json
  hello-pepr-custom-rbac/package.default.json
  hello-pepr-custom-rbac/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(ci): remove package.*.json files from test fixtures (#527)
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-custom-rbac/fixtures/rbac.custom.json
  hello-pepr-custom-rbac/package.custom.json
  hello-pepr-custom-rbac/package.default.json
  hello-pepr-custom-rbac/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(hello-pepr-finalize): strip pepr.dev/finalizer in afterAll to unblock cleanup
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(hello-pepr-finalize): remove pepr webhooks before namespace teardown
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(hello-pepr-finalize): strip finalizers from pepr-system resources before moduleDown
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(hello-pepr-finalize): bound moduleDown and add pepr-system teardown diagnostics
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

diag(hello-pepr-finalize): dump pepr-system after moduleDown timeout
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

diag(hello-pepr-finalize): capture pepr-system mid-Terminating, before apiserver destabilizes
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore(hello-pepr-finalize): remove teardown diagnostics, keep the fix
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix(hello-pepr-finalize): strip finalizers in afterAll to unblock cleanup (#528)
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix: replace rmdirSync recursive with rmSync for Node 26 compatibility
  _helpers/dev/cli.mts
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.mjs --fix: (any of: *.ts) or (any of: *.js)
