Repository defenseunicorns/pepr-excellent-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.mjs --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --config eslint.config.mjs --fix"],
  "*.js": ["prettier --write", "eslint --config eslint.config.mjs --fix"],
  "*.json": ["prettier --write"]
}

chore: fix deps
  hello-pepr-custom-rbac/package.custom.json
  hello-pepr-custom-rbac/package.default.json
  hello-pepr-custom-rbac/package.json
  package-lock.json
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

chore: package.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix test for pepr ci
  test-specific-version/capabilities/versions.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix test for pepr ci (#348)
  test-specific-version/capabilities/versions.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: account for when there is no value (#345)
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Use @latest in pexex
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Use @latest in pexex (#350)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Remove test_mode envar
  _helpers/src/pepr.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

remove test_mode envar (#353)
  _helpers/src/pepr.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: run pexex in debug mode
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: use nightly ag ain for now
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Update _helpers/src/pepr.ts
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: update nightly
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Pexex in debug mode (#357)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: remove emoji assertion
  hello-pepr-onschedule/capabilities/onschedule.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Emoji assertion removal (#360)
  hello-pepr-onschedule/capabilities/onschedule.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Revert "build(deps-dev): bump the dev group across 35 directories with 2 upda…"
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

Revert "build(deps-dev): bump the dev group across 35 directories with 2 updates" (#361)
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

chore: use latest instead of nightly
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: add tests for rbacmode scoped
  hello-pepr-watch/capabilities/watch.e2e.test.ts
  hello-pepr-watch/capabilities/watch.ts
  hello-pepr-watch/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: use latest again
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: use latest again (#366)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: additinional webhooks
  hello-pepr-generic-kind/capabilities/genericKind.e2e.test.ts
  hello-pepr-generic-kind/capabilities/genericKind.ts
  hello-pepr-generic-kind/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

Update hello-pepr-generic-kind/package.json
  hello-pepr-generic-kind/package.json
Due: prettier --write

chore: additinional webhooks (#368)
  hello-pepr-generic-kind/capabilities/genericKind.e2e.test.ts
  hello-pepr-generic-kind/capabilities/genericKind.ts
  hello-pepr-generic-kind/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

Revert "build(deps): bump the dev group across 35 directories with 4 updates …"
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  package.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

Revert "build(deps): bump the dev group across 35 directories with 4 updates" (#372)
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  package.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

chore: compliance test and example
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: testing
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: test pr in yaml and ts
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: test pr in yaml and ts
  hello-pepr-ns-all/ex.yaml
Due: none

chore: test pr in yaml and ts
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: compliance test and example yaml and ts (#373)
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: testing
  .github/workflows/lula.yaml
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix
