Repository defenseunicorns/pepr-excellent-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.mjs --fix

chore: testing
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: remove annotation test
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: remove annotation test
  .github/workflows/lula.yaml
Due: none

chore: delete annotation
  .github/workflows/lula.yaml
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: change between annotations
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: delete file
  hello-pepr-ns-all/capabilities/namespace.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: crawl against head example
  file.txt
Due: none

chore: lula poc
  .github/workflows/lula.yaml
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: lula workflow
  .github/workflows/lula.yaml
Due: none

chore: change main hash
  hello-pepr-ns-all/ex.yaml
Due: none

chore: test
  hello-pepr-ns-all/ex.yaml
Due: none

chore: test something in lula
  .github/workflows/lula.yaml
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: test something in lula (#393)
  .github/workflows/lula.yaml
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: testing123
  hello-pepr-ns-all/capabilities/namespace.ts
  hello-pepr-ns-all/ex.yaml
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: added overview to watch README
  hello-pepr-watch/README.md
Due: none

chore: updated useage
  hello-pepr-watch/README.md
Due: none

chore: corrected link
  hello-pepr-watch/README.md
Due: none

Revert "fix: standard two week release with dependency updates (#389)"
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  package.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

Revert "fix: standard two week release with dependency updates" (#397)
  _helpers/package.json
  hello-pepr-alias/package.json
  hello-pepr-config-ignored-controller-ns/package-lock.json
  hello-pepr-config-ignored-controller-ns/package.json
  hello-pepr-config-ignored-ns/package.json
  hello-pepr-config/package.json
  hello-pepr-custom-rbac/package.json
  hello-pepr-deletion-timestamp/package.json
  hello-pepr-finalize/package.json
  hello-pepr-generic-kind/package.json
  hello-pepr-hooks/package.json
  hello-pepr-load/package.json
  hello-pepr-mutate/package.json
  hello-pepr-ns-all/package.json
  hello-pepr-ns-bounded/package.json
  hello-pepr-ns-wrong/package.json
  hello-pepr-onschedule/package.json
  hello-pepr-reconcile-global/package.json
  hello-pepr-reconcile-kind/package.json
  hello-pepr-reconcile-kindns/package.json
  hello-pepr-reconcile-kindnsname/package.json
  hello-pepr-regex-name/package.json
  hello-pepr-regex-ns-all/package.json
  hello-pepr-regex-ns-bounded/package.json
  hello-pepr-regex-ns-wrong/package.json
  hello-pepr-soak/package.json
  hello-pepr-store-redact-logs/package.json
  hello-pepr-store-resources/package.json
  hello-pepr-store/package.json
  hello-pepr-validate/package.json
  hello-pepr-warnings/package.json
  hello-pepr-watch/package.json
  hello-pepr/package.json
  package-lock.json
  package.json
  pepr-operator/package.json
  test-specific-version/package.json
Due: prettier --write

chore: first draft
  hello-pepr-mutate/README.md
Due: none

added successful k9s logging
  hello-pepr-watch/README.md
Due: none

Update README.md
  hello-pepr-watch/README.md
Due: none

chore: mutate readme
  hello-pepr-mutate/README.md
Due: none

chore: updated intro
  hello-pepr-watch/README.md
Due: none

chore: first draft
  hello-pepr-finalize/README.md
Due: none

chore: updated log label
  hello-pepr-watch/README.md
Due: none

chore: updated log label
  hello-pepr-mutate/README.md
Due: none

chore: updated log label
  hello-pepr-finalize/README.md
Due: none

chore: added validate summary
  hello-pepr-validate/README.md
Due: none

chore: added finalize readme
  hello-pepr-finalize/README.md
Due: none

chore: added language id to code blocks
  hello-pepr-mutate/README.md
Due: none

chore: added language id to code blocks
  hello-pepr-validate/README.md
Due: none

chore: added language id to code blocks
  hello-pepr-watch/README.md
Due: none

chore: added generic readmes with specific pexex repo links
  hello-pepr-alias/README.md
  hello-pepr-config-ignored-controller-ns/README.md
  hello-pepr-config-ignored-ns/README.md
  hello-pepr-config/README.md
  hello-pepr-custom-rbac/README.md
  hello-pepr-deletion-timestamp/README.md
  hello-pepr-generic-kind/README.md
  hello-pepr-hooks/README.md
  hello-pepr-ns-all/README.md
  hello-pepr-ns-bounded/README.md
  hello-pepr-ns-wrong/README.md
  hello-pepr-onschedule/README.md
  hello-pepr-reconcile-global/README.md
  hello-pepr-reconcile-kind/README.md
  hello-pepr-reconcile-kindns/README.md
  hello-pepr-reconcile-kindnsname/README.md
  hello-pepr-regex-name/README.md
  hello-pepr-regex-ns-all/README.md
  hello-pepr-regex-ns-bounded/README.md
  hello-pepr-regex-ns-wrong/README.md
  hello-pepr-store-redact-logs/README.md
  hello-pepr-store-resources/README.md
  hello-pepr-store/README.md
Due: none

chore: added readme for store
  hello-pepr-store/README.md
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.mjs --fix: (any of: *.ts) or (any of: *.js)
