Repository defenseunicorns/pepr-excellent-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.mjs --fix

Ignore dependabot updates for jest v30
  .github/dependabot.yml
Due: none

chore: ignore dependabot updates for jest v30 (#330)
  .github/dependabot.yml
Due: none

chore: add package-lock to pass ci
  package-lock.json
Due: prettier --write

chore: npx pepr monitor should display validation results to console
  hello-pepr-validate/capabilities/validate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: uuid test
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: uuid test in hello-pepr-mutate (#335)
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: npx pepr monitor should display validation results to console (#334)
  hello-pepr-validate/capabilities/validate.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: module up should look for module deployed successfully
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: logged message on moduleup
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: e2e tests for 2359
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-watch/capabilities/watch.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: specific config based on module
  _helpers/src/pepr.ts
  hello-pepr-alias/capabilities/alias.e2e.test.ts
  hello-pepr-config-ignored-controller-ns/capabilities/ignored-ns.e2e.test.ts
  hello-pepr-config-ignored-ns/capabilities/ignored-ns.e2e.test.ts
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-deletion-timestamp/capabilities/deletion.e2e.test.ts
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
  hello-pepr-generic-kind/capabilities/genericKind.e2e.test.ts
  hello-pepr-hooks/capabilities/hooks.e2e.test.ts
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
  hello-pepr-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-ns-bounded/capabilities/namespace.e2e.test.ts
  hello-pepr-onschedule/capabilities/onschedule.e2e.test.ts
  hello-pepr-reconcile-global/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kind/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindns/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindnsname/capabilities/reconcile.e2e.test.ts
  hello-pepr-regex-name/capabilities/regex-name.e2e.test.ts
  hello-pepr-regex-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-regex-ns-bounded/capabilities/namespace.e2e.test.ts
  hello-pepr-store-redact-logs/capabilities/store.e2e.test.ts
  hello-pepr-store-resources/capabilities/store.e2e.test.ts
  hello-pepr-store/capabilities/store.e2e.test.ts
  hello-pepr-validate/capabilities/validate.e2e.test.ts
  hello-pepr-warnings/capabilities/warnings.e2e.test.ts
  hello-pepr-watch/capabilities/watch.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix test
  _helpers/src/pepr.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: module up should look for controller startup complete to avoid conflicts with controllers (#337)
  _helpers/src/pepr.e2e.test.ts
  _helpers/src/pepr.ts
  hello-pepr-alias/capabilities/alias.e2e.test.ts
  hello-pepr-config-ignored-controller-ns/capabilities/ignored-ns.e2e.test.ts
  hello-pepr-config-ignored-ns/capabilities/ignored-ns.e2e.test.ts
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-deletion-timestamp/capabilities/deletion.e2e.test.ts
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
  hello-pepr-generic-kind/capabilities/genericKind.e2e.test.ts
  hello-pepr-hooks/capabilities/hooks.e2e.test.ts
  hello-pepr-mutate/capabilities/mutate.e2e.test.ts
  hello-pepr-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-ns-bounded/capabilities/namespace.e2e.test.ts
  hello-pepr-onschedule/capabilities/onschedule.e2e.test.ts
  hello-pepr-reconcile-global/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kind/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindns/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindnsname/capabilities/reconcile.e2e.test.ts
  hello-pepr-regex-name/capabilities/regex-name.e2e.test.ts
  hello-pepr-regex-ns-all/capabilities/namespace.e2e.test.ts
  hello-pepr-regex-ns-bounded/capabilities/namespace.e2e.test.ts
  hello-pepr-store-redact-logs/capabilities/store.e2e.test.ts
  hello-pepr-store-resources/capabilities/store.e2e.test.ts
  hello-pepr-store/capabilities/store.e2e.test.ts
  hello-pepr-validate/capabilities/validate.e2e.test.ts
  hello-pepr-warnings/capabilities/warnings.e2e.test.ts
  hello-pepr-watch/capabilities/watch.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Use nightly release in PEXEX
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix: Use nightly release in PEXEX (#339)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix tests
  hello-pepr-store-resources/capabilities/nonmigrated-peprstore.yaml
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Use new option
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: fix tests (#341)
  hello-pepr-store-resources/capabilities/nonmigrated-peprstore.yaml
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix: use --yes in pepr deploy (#340)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

Use --yes
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

fix: use --yes in pepr deploy command (#342)
  _helpers/src/pepr.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: e2e tests for 2359 (#338)
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-watch/capabilities/watch.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: helpers
  _helpers/dev/cli.mts
  _helpers/jest.config.json
  _helpers/package.json
  _helpers/src/Cmd.unit.test.ts
  _helpers/src/TestRunCfg.unit.test.ts
  _helpers/src/cluster.e2e.test.ts
  _helpers/src/general.unit.test.ts
  _helpers/src/heredoc.unit.test.ts
  _helpers/src/pepr.e2e.test.ts
  _helpers/src/pepr.unit.test.ts
  _helpers/src/resource.unit.test.ts
  _helpers/src/time.unit.test.ts
  _helpers/tsconfig.json
  _helpers/vitest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: hello-pepr-alias
  _helpers/dev/cli.mts
  hello-pepr-alias/capabilities/alias.e2e.test.ts
  hello-pepr-alias/jest.config.json
  hello-pepr-alias/package.json
  hello-pepr-alias/tsconfig.json
  hello-pepr-alias/vitest.config.ts
  package-lock.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: hello-pepr-config
  hello-pepr-config/capabilities/config.e2e.test.ts
  hello-pepr-config/jest.config.json
  hello-pepr-config/package.json
  hello-pepr-config/tsconfig.json
  package-lock.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: swap jest
  .github/dependabot.yml
  README.md
  _helpers/src/deps/differ.unit.test.ts
  _helpers/src/deps/reader.unit.test.ts
  _helpers/src/deps/versions.e2e.test.ts
  _helpers/src/deps/writer.unit.test.ts
  _helpers/src/general.ts
  _helpers/src/general.unit.test.ts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-custom-rbac/package.custom.json
  hello-pepr-custom-rbac/package.default.json
  hello-pepr-deletion-timestamp/capabilities/deletion.e2e.test.ts
  hello-pepr-finalize/capabilities/finalize.e2e.test.ts
  hello-pepr-reconcile-global/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kind/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindns/capabilities/reconcile.e2e.test.ts
  hello-pepr-reconcile-kindnsname/capabilities/reconcile.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: imports update
  _helpers/src/TestRunCfg.ts
  _helpers/src/cluster.ts
  _helpers/src/general.ts
  _helpers/src/pepr.ts
  _helpers/tsconfig.json
  hello-pepr-config-ignored-ns/capabilities/ignored-ns.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: remove unused imports
  hello-pepr-config-ignored-ns/capabilities/ignored-ns.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: afterall import
  hello-pepr-warnings/capabilities/warnings.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: extend timeouts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: extend timeouts
  hello-pepr-custom-rbac/capabilities/rbac.e2e.test.ts
  hello-pepr-custom-rbac/package.json
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: npm i
  package-lock.json
Due: prettier --write

chore: expect empty array
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: update package-lock
  package-lock.json
Due: prettier --write

chore: pacakge-lock
  package-lock.json
Due: prettier --write

chore: account for when there is no value
  hello-pepr-store/capabilities/store.e2e.test.ts
Due: prettier --write, eslint --config eslint.config.mjs --fix

chore: resolve conflicts
  hello-pepr-config-ignored-controller-ns/package-lock.json
  package-lock.json
Due: prettier --write

chore: updates to pepr in package
  hello-pepr-custom-rbac/package.custom.json
  hello-pepr-custom-rbac/package.default.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.mjs --fix: (any of: *.ts) or (any of: *.js)
